@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, Arial;
    font-size: 13px;
}

html { 
    background: url(/static/img/tesla_s4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h5 {
    font-family: Roboto, Arial;
    font-weight: bold;
    color:#d90000;
}

.container {
    position: fixed;
    top: 50%;
    left: 45%;
}

.btn-red {
    background-color: #d90000;
    color: white;
    position: initial;
}

.btn-red:hover {
    background-color: #a50f0f;
    color: white;
    font-weight: bolder;
}

