@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, Arial;
    font-size: 13px;
}

h1 {
    font-family: Roboto, Arial;
    font-size: 40px;
    font-weight: bold;
    color:red;
}

#map {
    height: 100%;
  }